#canvas {
    width: 800px;
    margin: auto;
}

#burgerfi {
    text-align: center;
}

.section {
    display: inline-block;
    width: 380px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.section_header {
    text-align: center;
}

ul {
    width: 380px;
    margin: auto;
    padding: 0px;
}

li {
    list-style-type: none;
}

.menu_item {
    font-size: 14pt;
    border-bottom: thin dotted black;
}

.price {
    float: right;
}

.item_description {
    font-size: 9pt;
    padding-top: 2px;
    margin-bottom: 10px;
}

#right_container {
    width: 400px;
    float: right;
}

#cheeses {
    width: 380px;
    height: 15px;
    text-align: center;
    font-size: 9pt;
}

.condiment {
    font-size: 9pt;
}

.left_column {
    display: inline-block;
    width: 180px;
    margin: 0px;
    margin-right: 10px;
}

.right_column {
    width: 180px;
    float: right;
    margin-left: 10px;
}