@font-face {
    font-family: 'bebas';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#bebas') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'landliebe';
    src: url('../fonts/Landliebe-webfont.eot');
    src: url('../fonts/Landliebe-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Landliebe-webfont.woff') format('woff'),
         url('../fonts/Landliebe-webfont.ttf') format('truetype'),
         url('../fonts/Landliebe-webfont.svg#landliebe') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neord';
    src: url('../fonts/NEORD___-webfont.eot');
    src: url('../fonts/NEORD___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NEORD___-webfont.woff') format('woff'),
         url('../fonts/NEORD___-webfont.ttf') format('truetype'),
         url('../fonts/NEORD___-webfont.svg#neord') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arcon';
    src: url('../fonts/Arcon-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    background-color: #CCFFFF;
}

#canvas {
    width: 400px;
    margin: auto;
}

#burgerfi {
    font-family: 'neord';
    font-size: 60px;
    text-align: center;
    color: rgb(152, 195, 60);
}

#fi {
    color: #888888;
}

.section {
    font-family: 'arcon';
    display: inline-block;
    width: 380px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.section_header {
    font-family: 'landliebe';
    font-size: 48px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

ul {
    width: 380px;
    margin: auto;
    padding: 0px;
}

li {
    list-style-type: none;
}

.menu_item {
    font-size: 16pt;
    border-bottom: thin dotted black;
}

.price {
    float: right;
}

.item_description {
    font-size: 9pt;
    padding-top: 2px;
    margin-bottom: 10px;
}

img {
    display: block;
    margin: auto;
    margin-top: 26px;
    width: 80px;
}

#icon_1 {
    display: none;
}

#right_container {
    width: 400px;
}

#toppings {
    width: 380px;
    text-align: center;
    font-size: 10pt;
    margin-bottom: 2px;
}

.extras {
    font-size: 9pt;
}

.left_column {
    display: inline-block;
    width: 180px;
    margin: 0px;
    margin-right: 10px;
    margin-top: 10px;
}

.right_column {
    width: 180px;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

#footer {
    height: 40px;
}